body {
  background: linear-gradient(to right,#5e1be4, #ad3cb3);
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  border-collapse: collapse;
 background-color: #fff;
}
th,
td {
  padding: 10px 15px;
  width: 16em;
  text-align: center;
}
thead {
  background: rgb(24, 23, 23);
  color: #fff;
  font-size: 1.1em;
}
tbody tr:nth-child(even) {
  background: #f0f0f2;
}
#matches-won-division{
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2em;
}
h2,caption{
  text-align: center;
  color: white;
}
caption{
  margin-bottom: 1em;
  font-size: 1.2em;
}
h2{
  margin-top: 1em;
}